@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=REM:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=REM:wght@600&family=Rubik&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    
}
body{
    background-color: rgb(40, 40, 40);
    color: #ffffff;
    width: 100%;
    height: 100vh;
    /* background-color: #ffffff;
    color: black; */
}
/* Navigation Bar */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(237,236,237);
    gap: 10px;
}

/* Logo */
#logo{
    width: clamp(150px,fit-content,350px);
    height: 90%;
    background: transparent;
    margin-left: 40px;
}

.greet_logout{
 width: 20%;
 height: 80%;
 background-color: rgb(74,106,163);
 margin-right: clamp(10px,20px,100px);
 padding: 5px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 font-size: clamp(1rem,2rem,1rem);
 border-radius: 10px;
 box-shadow: 0px 1px 10px 2px rgb(65, 65, 65);
}

#logout_btn{
    color: rgb(255, 255, 255) ;
    font-size: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.dropdown{
    width: 100%;
    height: 35px;
    background-color: rgb(74,106,163);
    margin-top: 3px;
    box-shadow: 0px 1px 10px 2px rgb(75, 75, 75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

/* Dropdown */
.catagory{
    width: 16.66666%;
    height: 100%;
    border: 2px solid red;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
}
.catagory:hover{
    background-color: rgb(98, 255, 0);
    color: black;
    padding-right: 10px;
    transition: 0.5s;
}



