@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=REM:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=REM:wght@600&family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Rubik', sans-serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
:root {
  --transition: 0.3s ease-in-out;
  --darkTheme: rgb(40, 43, 52);
  --fontColor: rgb(255, 255, 255);
  --hoverColor: rgb(169, 255, 222);
  --accentColor: rgb(77, 130, 220);
  --boxShadow: 0px 2px 5px rgb(0, 0, 0.2);
  --whiteBorder: solid 1px white;
  --elementBackground: rgb(81, 81, 81);
}


/* For Light theme */
:root {
  --lightTheme: rgb(255, 255, 255);
}

/* Employee Details */

#profile-view-edit{
  width: 99.5%;
  padding: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #636363;

}
#profile-page-form label,input{
    padding: 0.3rem;
    margin: 0.2rem;
    

}

#profile-page-form input{
  
  background-color: #00ff37;

}

#profile-photo{
   position: absolute;
   width: 4rem;
   padding-left: 25px;
   
}


